*{
   padding:0;
   margin:0;
   font-family: "my font";
   cursor: pointer;
  
   
    
   

}
@font-face {
    font-family: "my font" ;
    src: url(/font/Khula.ttf.woff);
}
.container{
    background-color: rgb(237, 243, 241);
    
}
    
.navbar{
    position: sticky;
    top:0;
    left:0;
    z-index:20;   

color:#000000;
height: 28px;
width:100%;
padding-bottom: 20px;
display: flex;
align-items: center;
background-color: #fff;

}



.logo{
    padding-left:40px;
    padding-top: 15px;
    background-color: #fff;
}
.menu{
    padding-left:30px; 
    margin-top:20px;
    text-decoration: none;
}
.menu1{
    text-decoration:none;
     padding-left: 650px;
    text-align: end;  
    margin-top:20px;
}
.menu2{
    text-decoration: none;
    margin-left:40px;
    margin-top:20px;
    text-align: end;
}
.i{
    height:50px;
    width:50px;
    padding-left: 25px;
}
.icon{
    margin:50px;
    padding-top:20px;
}
.main{
    position:relative;
    color:#fff;
    height:375px;
    width:100%;
    
}
.text{
    padding-left:150px;
    position:absolute;
    top:100px;
    height:100px;
    width:400px;
   
}
.text2{
    padding-top:15px;

}
.photo1{
    height:470px;
    width:100%;
    margin:0px;
}
.learnmore{
    width:120px;
    height:40px;
    color:black;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    text-align: center;
   
}
.phone{
    display:flex;
   background-color: rgb(237, 243, 241);
    color:black;
    height:480px;
    width: 100%;
}
.xiaomi{
    background-color: #fff;
    height:400px;;
    width:49%;
    
    text-align:Center;
    float:left;
    text-decoration: none;
    margin: 10px;
    margin-top: 5px;
    padding-top: 50px;
  
}
.xiaomi{
    background-color: #fff;
    padding-top: 50px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;

    height:400px;
    width:49%;
   
    

}
.container1{
    background-color: rgb(237, 243, 241);
    
    display: flex;
    height:450px;
    text-align:center;
    
}
.container2{
    display:flex;
    background-color: #fff;
    margin-top: 5px;
}
.xtv{
    margin-left: 10px;
     height:420px;
    width:49%;
    background-color: #fff;
    flex: display;
    text-align:center;
    padding-top:20px;
    color:black;
}
.robot{
    margin-left: 10px;
    height:400px;
    width:25%;
   
    background-image: url(/Capture3.JPG);
    background-size: cover;
    text-align:center ;
    padding-top:40px;
    background-position: center;
    
    background-repeat: no-repeat;
    
}
.Watch{
    margin-left: 10px;
    height:400px;
    width:25%;
    background-color: #fff;
  color:black;
    text-align: center;
    padding-top: 40px;
}
.container2{
    margin:10px;
}

.video{
    height:400px;
    width:50%;
    margin: 20px;
    background-color: #fff;
 
}
.learn{
    color:orangered;
    text-decoration: none;
}
.learn:hover{
    text-decoration: underline;
}
.slide{
    height: 200px;
    width:20%;
    margin: 10px,10px;


    
    
}
.carousel{
width:100%;
display: flex;
}

.slider{
    height:100%;
    display: flex;
    width:400%;
    border:solid red;
    +
}
.slider img{
    flex-basis:100%;
    display:flex;
    justify-content: center;
}

.footer{
   
    height:430px;
    width:100%;
    background-color:#191919;
    display: flex;
}
ul:hover{
    color:#fff;
    text-decoration: underline;
}
.Support{

    width:25%;
    height:300px;
    line-height:30px;
    margin:30px;
    padding-top:30px;
    color:#b4a8a8

}
.Aboutus{
     height:300px;
     width:25%;
     line-height:30px ;
     margin: 30px;
     padding-top:30px ;
     color:#b4a8a8;


}
 .Xiaomiproject{
    height:300px;
    width:25%;
    line-height:30px;
    margin: 30px;
    padding-top:30px ;
    color:#b4a8a8


}
.Follow{
    height:300px;
    width:30%;
    line-height:30px;
    margin: 20px;
    padding-top:30px;
    color:#b4a8a8;
}
.email{
  
    color:#fff;
    border-width: 85%;

    border-radius: 8px;
    border-color: #fff;
    height:35px;
    width:300px;
    background-color:#191919;
    color:#b4a8a8;

    
    
}

.fa-brands{
    size: 50px;
    height:50px;
    width:50px;
    
}

.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes .slide {
  from {opacity: .4}
  to {opacity: 1}
}
.Copyright{
    color:#b4a8a8;
    border-top: solid;
    border-width: 1px;
    height:50px;
    background-color:#191919;
    width:100%;
    padding: 15px;
  
  
   
   padding-left: 20px;
    

}
.Copyright:hover{
    
    text-decoration: underline;

}
.copy{
    color: #fff;
   padding-right: 50px;
}
.cookies{
    color: #fff;
    padding-right: 50px;  
}
.site{
    color: #fff;
    padding-right: 50px;  
}
.global{
    color: #fff;
   text-align: end;
   margin-left: 450px;
}

